/*
  basic definitions
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
body, html, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;  
}

h1 {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 100;
}

/*
  slides styling
 */
body, html, .slide-wrapper, .slide {
  width: 100%;
  height: 100%;
}

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>

adjusted!
*/

code, pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: auto;
  padding: 6px 10px;
  font-family: 'Source Code Pro';
  font-weight: 300;
  background-color: #160002;
  color: #ffffff;
}

code {
  padding: 0 5px;
}

pre > code {
  margin: 0; padding: 0;
  border: none;
  background: transparent;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #333;
  font-weight: bold
}

pre .number,
pre .hexcolor,
pre .ruby .constant {
  color: #099;
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
  color: #990073
}

pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}