/*
  basic definitions
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,900);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);
body, html, h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;  
}

h1 {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 100;
}

/*
  slides styling
 */
body, html, .slide {
  width: 100%;
  height: 100%;
}

/*
  code, pre styling, including syntax higlighting 
 */
pre, code {
  font-family: 'Source Code Pro';
  font-weight: 300;
  background-color: #160002;
  color: #ffffff;
}

pre, code .comment {
  color: #C8C1B7;
}

pre, code .constant,
pre, code .attribute,
pre, code .keyword {
  color: #008080;
}

pre, code .variable {
  color: #6D1D06;
}

pre, code .symbol {
  color: #859145;
}

pre, code .string {
  color: #B9861B;
}