{{#slides}}
  <div class="slide{{#hidden}} hidden{{/hidden}}{{#classList}} {{classList}}{{/classList}}" id="slide-{{id}}>
    <section class="slide-content>
      {{{content}}}
    </section>
  </div>
{{/slides}}